@using PeerStudy.Core.Models.StudyGroups;
@using PeerStudy.Features.StudyGroups.Components.StudyGroupCardBaseComponent;
@using PeerStudy.Features.StudyGroups.Components.StudyGroupWorkItemsOverviewComponent;

@inherits StudyGroupCardBase<StudentStudyGroupDetailsModel>

@{
    base.BuildRenderTree(__builder);

    if (StudyGroupModel.MyWorkItemsStatus != null && StudyGroupModel.MyWorkItemsStatus.Any())
    {
        ChildContent =
        @<div>
            <b>My Tasks</b><div class="my-work-items">
                <StudyGroupWorkItemsOverview Data="@myWorkItemsChartData"></StudyGroupWorkItemsOverview>
            </div>
        </div>;
    }
}
