@if (IsLoading)
{
    <div class="center-elements">
        <MatProgressCircle Indeterminate="@IsLoading" Size="MatProgressCircleSize.Large" />
    </div>
}
else if (!IsLoading && (Resources == null || !Resources.Any()))
{
    <NotFound Message="There are no resources yet..."
          ShowCloseButton=true>
    </NotFound>
}
else
{
    <div class="resources-container">
        @foreach (var resource in Resources)
        {
            <div class="resource">
                <CourseResource Expanded=false
                        ResourceDetails="resource"
                        OnDeleteResource="HandleDeleteResource">
                </CourseResource>
            </div>
        }
    </div>
}
