<div class="container center-elements">
    @if (IsLoading)
    {
        <div>
            <MatProgressCircle Indeterminate="@IsLoading" Size="MatProgressCircleSize.Large" />
        </div>
    }
    else if (!IsLoading && !Courses.Any())
    {
        <NotFound Message="@CoursesNotFoundMessage"></NotFound>
    }
    else
    {
        <div class="courses-container">
            @foreach (var course in Courses)
            {
                <CourseCard Course="course"
                    OnEditCourse="EditCourseHandler"
                    OnArchiveCourse="ArchiveCourseHandler"
                    OnCourseClicked="ClickedCourseHandler">
                </CourseCard>
            }
        </div>
    }
</div>
