.action-buttons {
    text-align: end;
}

.posted-at {
    float: right;
    font-size: 0.8rem;
}

.question-content {
    padding: 10px;
}

.answers {
    padding: 10px;
}

.header {
    padding: 20px;
}