# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


.vs/
.editorconfig

profile-photos/

teachers.json

#Google Drive credentials file
collabproject2023-27bd74ac8c67.json

users.json

UsefulLinks.txt