@using PeerStudy.Core.Models.Courses
@using PeerStudy.Features.Courses.Components.CourseCardComponent

<div class="container center-elements">
    <Loading IsLoading="IsLoading"
             HasData="@(Courses != null && Courses.Any())"
             NotFoundMessage="@CoursesNotFoundMessage">
        <div class="courses-container">
            @foreach (var course in Courses)
            {
                <CourseCard Course="course"
                        CanEnrollInCourse="CanEnrollInCourse"
                        OnEditCourse="EditCourseHandler"
                        OnArchiveCourse="ArchiveCourseHandler"
                        OnCourseClicked="ClickedCourseHandler"
                        OnEnroll="EnrollHandler">
                </CourseCard>
            }
        </div>
    </Loading>
</div>