
<MatDialog @bind-IsOpen="@IsVisible">
    <MatDialogTitle>Upload file(s)</MatDialogTitle>
    <MatDialogContent>
        <div>
            <PeerStudyFileUpload Style="@uploadFileControlStyles"
                                 OnChange="GetUploadedFiles"
                                 Label="Choose files"
                                 AllowMultiple=true>
            </PeerStudyFileUpload>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="Cancel">Cancel</MatButton>
        <MatButton OnClick="Upload" Raised=true Disabled=@(!IsUploadFileButtonEnabled())>Upload</MatButton>
    </MatDialogActions>
</MatDialog>