@using PeerStudy.Components.Courses
@using PeerStudy.Core.Models.Assignments

@page "/{courseTitle}/{courseId:guid}/assignments"
@attribute [Authorize(Roles = "Teacher")]
@inherits PeerStudyComponentBase<ExtendedAssignmentDetailsModel>

<CourseHeader title="@CourseTitle"></CourseHeader>

<Loading IsLoading="isLoading"
         HasData="@(data != null && data.Any())"
         NotFoundMessage="@noAssignmentsMessage">
    <div class="assignments">
        @foreach (var assignment in data)
        {
            <div class="assignment">
                <CourseAssignment Assignment="assignment"
                              OnSaveGrade="SaveGradeHandler"
                              OnDeleteAssignment="DeleteAssignmentHandler"
                              OnViewWork="ViewSubmittedWork">
                </CourseAssignment>
            </div>
        }
    </div>
</Loading>

<MatSnackbar @bind-IsOpen="showMessage" Timeout="snackBarTimeout">
    <MatSnackbarContent>@message</MatSnackbarContent>
</MatSnackbar>
