<div>
    <MatDialog @bind-IsOpen="@IsVisible" CanBeClosed="false">
        <MatDialogTitle>@WorkItem?.Title</MatDialogTitle>
        <MatDialogContent Class="mat-dialog-styles">
            <div class="work-item">
                <div>
                    <div><b>Assigned to:</b> @WorkItem?.AssignedToFullName</div>
                    <div><b>Status:</b> @WorkItem?.Status</div>
                </div>
                <div>
                    @WorkItem?.Description
                </div>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton Class="submit-button" OnClick="Close">Close</MatButton>
        </MatDialogActions>
    </MatDialog>
</div>