@using PeerStudy.Features.Assignments.Components.AssignmentComponent

<div>
    <MatAccordion>
        <MatExpansionPanel @bind-Expanded="expandedPanel">
            <MatExpansionPanelSummary Style="padding: 10px;">
                <MatExpansionPanelHeader>
                    <div>
                        @Title
                    </div>
                </MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @foreach (var assignment in Assignments)
                {
                   <Assignment Data="assignment" OnClick="HandleClickedAssignment"></Assignment>
                }
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
</div>