@using PeerStudy.Core.Models.Courses
@using PeerStudy.Features.Courses.Components.CoursesListComponent
@using PeerStudy.Features.Courses.Components.CreateUpdateCourseComponent

@page "/active-courses"
@attribute [Authorize]
@inherits CoursesBase


<AuthorizeView Roles="Teacher">
    @if (!isLoading)
    {
        <div>
            <MatButton Style="@addCourseBtnStyle" OnClick="ShowAddCourseDialog">
                <img src="/images/icons8-plus.svg" />
            </MatButton>
        </div>
    }
    <CreateUpdateCourseDialog IsVisible="displayCourseDialog"
                              IsEditCourseEnabled="false"
                              CourseModel="CourseModel"
                              OnSave="SaveCourse"
                              OnCancel="CloseCourseDialog">
    </CreateUpdateCourseDialog>

    @if (isEditCourseModeEnabled)
    {
        <CreateUpdateCourseDialog IsVisible="displayCourseDialog"
                              IsEditCourseEnabled="true"
                              CourseModel="CourseModel"
                              HasStudyGroups="courseHasStudyGroups"
                              OnSave="EditCourse"
                              OnCancel="CancelEditCourse">
        </CreateUpdateCourseDialog>
    }

    <CoursesList Courses="courses"
                 IsLoading="isLoading"
                 CoursesNotFoundMessage="@noCoursesMessage"
                 OnEditCourse="EditCourseHandler"
                 OnArchiveCourse="ArchiveCourseHandler"
                 OnCourseClicked="CourseClickedHandler">
    </CoursesList>
</AuthorizeView>

<AuthorizeView Roles="Student">
    <CoursesList Courses="courses"
                 IsLoading="isLoading"
                 CoursesNotFoundMessage="@noCoursesMessage"
                 OnCourseClicked="CourseClickedHandler">
    </CoursesList>
</AuthorizeView>