@using PeerStudy.Features.Q_A.Components.QuestionsListComponent
@using PeerStudy.Shared.PaginationComponent

@page "/q-and-a"
@inherits PeerStudyComponentBase
@attribute [Authorize(Roles = "Student")]


<div>
    <div class="search-bar">
    </div>
    <div>
        <MatButton Class="submit-button" Raised=true OnClick="HandleAddQuestion">Ask a question</MatButton>
    </div>
    <div class="recent-questions">
        <QuestionsList IsLoading="isLoading"
                       Questions="currentDataSource">

            <div class="page-numbers">
                <PeerStudyPagination NoTotalPages="noPages"
                                     NoPreviousNextPagesDisplayed="noPreviousNextPagesDisplayed"
                                     OnNavigateToNextPage="GoToNextPage"
                                     OnNavigateToPreviousPage="GoToPreviousPage"
                                     OnSetActivePage="SetActivePage">
                </PeerStudyPagination>
            </div>
        </QuestionsList>
    </div>
</div>
