@using PeerStudy.Core.Models.Resources
@using PeerStudy.Features.Resources.Components.ResourceAccordionComponent

<Loading IsLoading="IsLoading"
         HasData="@(Resources != null && Resources.Any())"
         NotFoundMessage="@UIMessages.NoResourcesFoundMessage">
    <div class="resources-container">
        @foreach (var resource in Resources)
        {
            <div class="resource">
                <ResourceAccordion Expanded=false
                      ResourceDetails="resource"
                      IsReadOnly="IsReadOnly"
                      CurrentUserId="CurrentUserId"
                      OnDeleteResource="HandleDeleteResource">
                </ResourceAccordion>
            </div>
        }
    </div>
</Loading>