<div class="assignment" @onclick="HandleClickedAssignment">
    <div class="left">
        <div class="assignment-title">
            @Assignment.Title
        </div>
        <div class="course-title">
            Course: @Assignment.CourseTitle | Course Unit: @Assignment.CourseUnitTitle
        </div>
    </div>

    <div class="right deadline">
        @Assignment.Deadline
    </div>
</div>