.login-card {
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
    background-color: #a8c5de;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-title, label {
    text-align: center;
    color: white;
}

div {
    margin-top: 15px;
    display: grid;
    place-items: center;
    width: 95%;
}
