.register-card {
    width: 80%;
    margin:auto;
    background-color: #BCD4E6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title, label {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.card-body {
    width: 95%;
    display: grid;
    place-items: center;
}

div {
    display: inline-block;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-top:20px;
    margin-left: auto;
}