.tag {
    display: inline-block;
    margin: 7px;
    background-color: #d1ecf1;
    padding: 5px;
    border-radius: 7px;
}

.tags-container {
    height: auto;
    max-height: 90px;
    overflow-y: auto;
    margin: 15px;
}
