@using PeerStudy.Features.Q_A.Components.TagComponent


<div class="tags-container">
    @foreach (var tag in Tags)
    {
        <div class="tag">
            <Tag 
                Value="@tag" 
                ShowDeleteButton="ShowDeleteButton" 
                OnDelete="DeleteHandler">
            </Tag>
        </div>
    }
</div>