.question-details-container {
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 10px;
}

.title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    color: #0063BF;
    cursor: pointer;
}

.posted-at {
    text-align: end;
    font-size: 0.8rem;
}

.no-answers {
    color: green;
    float: right;
    text-align: end;
}
