.register-card {
    width: 95%;
    margin: auto;
    background-color: #a8c5de;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title, label {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.card-body {
    width: 95%;
    display: grid;
    place-items: center;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-top:20px;
    margin-left: auto;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collab-image {
    flex: 1.5;
    text-align: center;
}

.form-container {
    flex: 2;
}

.collab-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.app-name, .motto {
    font-family: serif, sans-serif, Verdana;
    color: #6699cc;
    display: block;
}

.app-name {
    font-size: 22px;
}