.file {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 8px;
    width: 100%;
}

.remove {
    display: inline-block;
    float: right;
    height: 30px;
    vertical-align: middle;
    width: 5%;
    text-align: end;
    cursor: pointer;
}

a {
    display: inline-block;
    width: 90%;
}

span {
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img, span {
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
}