<EditForm Model="AssignmentModel">
    <DataAnnotationsValidator />
    <MatDialog @bind-IsOpen="@IsVisible" CanBeClosed="false">
        <MatDialogTitle>Create assignment</MatDialogTitle>
        <MatDialogContent Class="mat-dialog-styles">
            <div class="text-field-container">
                <MatTextField Class="input-field"
                              Style="width: 100%;"
                              @bind-Value="AssignmentModel.Title"
                              Label="Title"
                                    Required>
                </MatTextField>
            </div>
            <div class="form-row">
                <div>
                    <MatDatePicker Label="Due Date" @bind-Value="AssignmentModel.DueDate"
                                   Minimum="@DateTime.Now"
                                   Required
                                   Style="margin-left: 10px;"
                                   TValue="DateTime">
                    </MatDatePicker>
                </div>
                <div>
                    <MatTextField Class="input-field"
                                  @bind-Value="AssignmentModel.Points"
                                  Label="Points"
                                  Style="width: 55%; margin-left: 10px; float: right;"
                                  Required
                                  TValue="int">
                    </MatTextField>
                </div>
            </div>

            <div class="study-groups-items">
                <MatSelectItem Style="margin-left: 7px; width: 94%"
                                Label="Study Group"
                               @bind-Value="@selectedStudyGroup"
                               Items="@StudyGroups">
                    <ItemTemplate Context="itemmenucontext"><span>@itemmenucontext?.Value</span></ItemTemplate>
                </MatSelectItem>
            </div>

            <div class="text-field-container">
                <MatTextField Class="input-field"
                              Style="width: 100%; height: 100px;"
                              @bind-Value="AssignmentModel.Description"
                              Label="Description"
                              TextArea=true
                              Required>
                </MatTextField>
            </div>

        </MatDialogContent>
        <MatDialogActions>
            <MatButton Class="submit-button" OnClick="Cancel">Cancel</MatButton>
            <MatButton Class="submit-button" Raised="true" OnClick="SaveAssignment" Disabled=@(!context.IsModified() || !context.Validate() ||
            selectedStudyGroup == null)>Confirm</MatButton>
        </MatDialogActions>
    </MatDialog>
</EditForm>