@using PeerStudy.Features.StudyGroups.Components.StudyGroupsListComponent

@page "/active-study-groups"
@inherits StudentStudyGroupsBase
@attribute [Authorize(Roles = "Student")]

<h3 class="page-title">Active Study Groups</h3>
<StudyGroupsList StudyGroups="studyGroups"
                 IsLoading="isLoading"
                 OnClicked="HandleClickedStudyGroup">
</StudyGroupsList>
