.resource {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 10px;
    padding: 5px;
    padding-right: 0;
}

a:hover {
    text-decoration: none;
}

img {
    width: 30px;
    height: 30px;
}

.file-name {
    display: inline-block;
}

.created-at {
    grid-column: 2;
}

a {
    grid-column: 1;
}

.delete-button {
    display: inline-block;
    right: -5px;
    position: relative;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
