@using PeerStudy.Features.CourseUnits.Components.CourseUnitComponent

<div>
    @foreach (var unit in CourseUnits)
    {
        <CourseUnitDetails CourseUnit="unit"
                       CurrentUserId="CurrentUserId"
                       IsMenuIconVisible="!IsReadOnly"
                       OnDelete="Delete"
                       OnRename="Rename"
                       OnUploadFiles="UploadFiles"
                       OnDeleteResource="DeleteResource"
                       OnAddAssignment="AddAssignment"
                       OnViewAssignments="ViewAssignments">
        </CourseUnitDetails>
    }
</div>