<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PeerStudy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Student">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/my-progress">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> My progress
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/active-courses">
                    <span class="oi oi-book" aria-hidden="true"></span> Active courses
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/archived-courses">
                    <span class="oi oi-book" aria-hidden="true"></span> Archived courses
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Student">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/courses/enroll">
                    <span class="oi oi-plus" aria-hidden="true"></span> Enroll in courses
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/active-study-groups">
                    <span class="oi oi-people" aria-hidden="true"></span> Active study groups
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/archived-study-groups">
                    <span class="oi oi-people" aria-hidden="true"></span> Archived study groups
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/my-assignments">
                    <span class="oi oi-task" aria-hidden="true"></span> My assignments
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/my-enrollment-requests">
                    <span class="oi oi-list" aria-hidden="true"></span> Enrollment requests
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/q-and-a">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> Q & A
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
