@using PeerStudy.Features.StudyGroups.Components.StudentStudyGroupsListComponent
@using PeerStudy.Features.StudyGroups.Components.StudyGroupsListComponent

@page "/archived-study-groups"
@inherits StudentStudyGroupsBase
@attribute [Authorize(Roles = "Student")]

<h3 class="page-title">Archived Study Groups</h3>
<StudentStudyGroupsList StudyGroups="studyGroups"
                 IsLoading="isLoading"
                 OnClicked="HandleClickedStudyGroup">
</StudentStudyGroupsList>
