<div class="text-editor-container">
    <RichTextEdit @bind-Value="HtmlContent" Style="height: 60%;" @ref="editorRef"
                  Theme="RichTextEditTheme.Bubble"
                  ReadOnly="true"
                  SubmitOnEnter="false">
        <Editor></Editor>
    </RichTextEdit>
</div>