.details {
    width: 90%;
}

.delete-assignment {
    float: right;
}

.deadline, .points {
    width: 40%;
    padding: 5px;
}

.points {
    float: right;
}

.align-to-left, .deadline {
    float: left;
}