.details {
    width: 90%;
}

.delete-assignment {
    float: right;
}

.deadline, .points {
    width: 40%;
    padding: 5px;
}

.points {
    float: right;
}

.align-to-left, .deadline {
    float: left;
}

.course-unit-title, .study-group-name {
    display: block;
    font-size: 12px;
}

.course-unit-study-group {
    margin-top: 50px;
    padding: 15px;
    text-align: left;
}