@using PeerStudy.Core.Models.StudyGroups

@page "/my-study-groups"
@inherits PeerStudyComponentBase<StudyGroupDetailsModel>
@attribute [Authorize(Roles = "Student")]

<h3 class="page-title">Study Groups</h3>
<StudyGroupsList StudyGroups="data"
                 IsLoading="isLoading">
</StudyGroupsList>