@using PeerStudy.Features.Q_A.Components.QuestionsListComponent

@page "/my-questions"
@attribute [Authorize(Roles = "Student")]
@inherits PeerStudyComponentBase

<div class="page-header">
    <h3>My Questions</h3>
    <div class="ask-question-button">
        <MatButton Class="submit-button" Raised=true OnClick="AddQuestion">Ask a question</MatButton>
    </div>
</div>

<div class="my-questions">
    <QuestionsList IsLoading="isLoading"
                   Questions="questionsModels">
    </QuestionsList>
</div>