<div class="file">
    <a href="@WebViewLink" target="_blank">
        <img src="@IconLink" />
        <span class="title">@Title</span>
    </a>
    @if (DisplayDeleteButton)
    {
        <div class="remove"@onclick="HandleDelete">X</div>
    }
</div>