.home-page {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collab-image {
    width: 45%;
}

img {
    width: 100%;
    border-radius: 15px;
}

.carousel {
    z-index: -1;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.app-name, .motto {
    text-align: center;
    font-family: serif, sans-serif, Verdana;
    color: #6699cc;
}

.app-name {
    font-size: 3em;
}

.motto {
    width: 100%;
    font-size: 2em;
    border-radius: 15px;
}


