.home-page {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collab-image {
    width: 45%;
}

img {
    width: 100%;
    border-radius: 15px;
}

.carousel {
    z-index: -1;
    width: 60%;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.app-name, .motto, .main-features-title, ul {
    font-family: serif, sans-serif, Verdana;
    color: #6699cc;
}

.app-name, .motto {
    text-align: center;
}
.app-name {
    font-size: 3em;
}

.motto {
    width: 100%;
    font-size: 2em;
    border-radius: 15px;
}

ul {
    list-style-type: disc;
}

.main-features {
    display: inline-block;
    position: absolute;
    padding: 20px;
    width: 30%;
    margin-left: 7%;
}

.main-features-title {
    font-size: 1.5em;
}