@page "/"

<div class="home-page">
    <div class="app-name"><b>@ClientConstants.AppName</b></div>
    <div class="container">
        <div class="collab-image">
            <img src="/images/collabimage.png" />
        </div>
        <div class="motto">@ClientConstants.Motto</div>
        <div class="collab-image">
            <img src="/images/collabimage2.png" />
        </div>
    </div>
    <div class="carousel">
     @*   Note: Cannot use for loop inside Carousel component*@
        <Carousel Style="@carouselStyleRules" @bind-SelectedSlide="@selectedSlide" Crossfade="true">
            <CarouselSlide Name="1">
                <Image Source="/images/peerStudy1.png" Text="PeerStudy 1" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <Image Source="/images/peerStudy2.png" Text="PeerStudy 2" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <Image Source="/images/peerStudy3.png" Text="PeerStudy 3" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <Image Source="/images/peerStudy4.png" Text="PeerStudy 4" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="5">
                <Image Source="/images/peerStudy5.png" Text="PeerStudy 5" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="6">
                <Image Source="/images/peerStudy6.png" Text="PeerStudy 6" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="7">
                <Image Source="/images/peerStudy7.png" Text="PeerStudy 7" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="main-features">
        <span class="main-features-title">Main features</span>
        <ul>
            <li>Study groups</li>
            <li>Group assignments</li>
            <li>Leaderboards</li>
            <li>Progress charts</li>
            <li>Uncover content progressively</li>
        </ul>
    </div>
</div>


@code {
    private string selectedSlide = "1";

    private const string carouselStyleRules = "display: inline-block; top: 50%; border: 1px solid #ccc; border-radius: 15px;";
}
