@using PeerStudy.Core.Enums

<div class="badge-container">
    <div class="badge-image">
        <img src=@($"data:image/png;base64,{Badge.Base64Content}") />
    </div>
    <div class="badge-details">
        <div class="badge-title">
            <b>@Badge.Title</b>
        </div>
        <div class="earn-date">
            @Badge.EarnedAt
        </div>
        @if (Badge.Type == StudentBadgeType.QAndA)
        {
            <div class="points">
                @Badge.Points points
            </div>
        }      
        <div>
            @Badge.Description
        </div>
    </div>
</div>