@using PeerStudy.Core.Models.Courses
@using PeerStudy.Features.Courses.Components.CoursesListComponent

@page "/archived-courses"
@attribute [Authorize]
@inherits CoursesBase

<h3 class="page-title">Archived Courses</h3>

<CoursesList Courses="courses"
             IsLoading="isLoading"
             CoursesNotFoundMessage="@UIMessages.NoArchivedCoursesMessage"
             OnCourseClicked="CourseClickedHandler">
</CoursesList>