.ranking-item-container {
    cursor: default;
    border-radius: 8px;
    padding: 15px;
}

.rank, .profile-photo, .student-name, .earned-points {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.rank {
    width: 10%;
}

.profile-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.student-name {
    width: 30%;
}

.earned-points {
    width: 20%;
    color: green;
}

.no-profile-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #555;
}

.can-be-clicked {
    cursor: pointer;
}

.can-be-clicked:hover {
    background-color: whitesmoke;
}