.student-progress-details-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.tab-content {
    padding: 15px;
}

.general-details {
    padding: 15px;
    height: 80px;
}

.earned-points {
    color: green;
}