.my-progress {
    margin-top: 25px;
}
.course-status {
    position: absolute;
    top: 65px;
    right: 25px;
}

.q-and-a-badge-section-title {
    display: block;
}

.course-badges-container {
    padding: 5px;
}