.student-progress-details-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.tab-content {
    padding: 15px;
}

.general-details {
    padding: 15px;
    height: 80px;
}

.earned-points {
    color: green;
}

.unlock-date, .completed-at {
    font-size: 14px;
}

.course-unit {
    cursor: default;
}

.course-unit-title {
    display: block;
}

.my-progress {
    margin-top: 25px;
}
.course-status {
    position: absolute;
    top: 65px;
    right: 25px;
}